---
import { academy } from '@data/academy.data';
---

<a class="logo" href="#inicio" aria-label={`${academy.name} - inicio`}>
  <span class="logo__mark" aria-hidden="true">MA</span>
  <span class="logo__text">
    <span>Mercedes Astorima</span>
    <span>Academy</span>
  </span>
</a>
