---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<article class="faq-item" data-faq-item>
  <button class="faq-item__trigger" type="button" aria-expanded="false">
    <span>{question}</span>
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M12 5v14M5 12h14" />
    </svg>
  </button>
  <div class="faq-item__panel" hidden>
    <p>{answer}</p>
  </div>
</article>
